*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
*/build/
/captures
.externalNativeBuild
.cxx
local.properties
kotlin-results.json
python-results.json
*.jks
*.keystore
keystore*
local.properties
keystore/
keystore.properties
local.properties
dist/
